     <h3><%=link_to 'Create new task',new_task_path%></h3>
          
 <table border="1" width="100%"><tr>
    <th><font color="black">Task Name</th><th>Task Description</th></font>
   <%@projects.each do |project| %>
     <%project.tasks.each do |task| %>
       </tr>
   <%@task_present="1"%>
     <tr>
    <td><%=task.name%></td><td><%=task.description%></td>
    <td><%=link_to 'Details',task_path(task)%></td>
    <td><%=link_to 'Edit',edit_task_path(task)%></td>
    <td><%=link_to 'Delete',task_path(task),:confirm=>'Are you sure to delete this task',:method=>:delete%></td>
      <%end%>
     <%end%>
    </table>
     <%if @task_present.blank?%>
     <%#else%>
<p>No Task Found</p>  
    <%end%>
      
   <%puts @task_present%>