<p align="right">
  <% if logged_in? %>
 <%= link_to 'Logout', logout_path,:class=>"link" %><p align="right">Current User: <%=h current_user.login%></p>
<table border="1"width="100%" class="table"><tr><th align="center"><%= link_to 'Projects', projects_path%></th><th align="center"><%= link_to 'Tasks', tasks_path%></th><th align="center"><%= link_to 'Clients', clients_path%></th><th align="center"><%= link_to 'Reports', reports_path%></th><th align="center"><%= link_to 'Members', members_path%></th></tr>
</table>
<% else %>
 <%= link_to 'Login', login_path,:class=>"link" %></p>
<% end %>